In [1]:
import csv
import pandas as pd

In [78]:
wikidata_cs = pd.read_csv('/Users/anesterov/reps/LODlit/spacy_sim_experiment.csv')

In [79]:
len(wikidata_cs)

151412

In [3]:
annotated = pd.read_csv('/Users/anesterov/reps/LODlit/gt_matching.csv')

In [74]:
wikidata_cs.head()

,Unnamed: 0,term,QID,wd_bow,spacy_cs
0,0,batavia,Q100341056,"['tentoonstelling', 'ter', 'herdenking', 'van'...",0.238
1,1,batavia,Q100341171,"['topografische', 'dienst', 'temporary', 'exhi...",0.453
2,2,batavia,Q100342162,"['kaart', 'exhibition', 'temporary', 'exhibiti...",0.439
3,3,batavia,Q102227440,"['gerardus', 'van', 'groll', 'sep', 'kaapstad'...",0.590
4,4,batavia,Q102227447,"['pieter', 'hendrick', 'breton', 'est', 'oct']",0.088

In [80]:
# removing entities with the same QIDs from the search results
wikidata_cs.drop_duplicates(subset=["QID"], inplace=True)

In [81]:
len(wikidata_cs)

135108

In [7]:
annotated.rename(columns={'entity_id': 'QID','target_term': 'term'}, inplace=True)

In [8]:
annotated.head()

         term        QID  check
0  aboriginal  Q10474818   True
1  aboriginal   Q1131830   True
2  aboriginal  Q12060728   True
3  aboriginal   Q1236246   True
4  aboriginal  Q12860160   True

### Getting Top-10 for every term

In [82]:
top_10_unique = pd.DataFrame()

In [83]:
for group in wikidata_cs.groupby("term"):
    top_10_unique = top_10_unique.append(group[1].sort_values(by='spacy_cs', ascending=False)[0:10])

In [84]:
top_10_unique

,Unnamed: 0,term,QID,wd_bow,spacy_cs
72742,72742,aboriginal,Q103817,"['indigenous', 'people', 'population', 'group'...",0.971
73002,73002,aboriginal,Q28942344,"['indigenous', 'australian', 'community', 'hum...",0.945
74022,74022,aboriginal,Q28943050,"['warndarang', 'people', 'extinct', 'language'...",0.937
73813,73813,aboriginal,Q9064330,"['native', 'people', 'ethnic', 'group', 'indig...",0.932
72840,72840,aboriginal,Q1493806,"['indigenous', 'people', 'australia', 'ethnic'...",0.931
...,...,...,...,...,...
31588,31588,whitest,Q2089766,"['kid', 'know', 'television', 'series', 'theat...",0.426
31589,31589,whitest,Q23414911,"['rich', 'road', 'trip', 'town', 'america', 't...",0.403
31590,31590,whitest,Q639424,"['boy', 'alive', 'musical', 'group', 'band']",0.366
31591,31591,whitest,Q8850480,"['boy', 'alive', 'album', 'wikimedia', 'catego...",0.288
31592,31592,whitest,Q8850483,"['kid', 'know', 'album', 'wikimedia', 'categor...",0.285

In [85]:
merged = top_10_unique.merge(annotated,how="left",on=["term","QID"])

In [86]:
merged.to_csv('checking_top10.csv')