In [1]:
import json
import sys

In [2]:
sys.path.append('/Users/anesterov/reps/LODlit/LODlitParser')

In [3]:
import bows

In [4]:
import aat

In [5]:
cs = aat.get_cs("en")

/Users/anesterov/reps/LODlit/LODlitParser/bows.py:140: UserWarning: [W008] Evaluating Doc.similarity based on empty vectors.
  sim = bow_1.similarity(bow_2)

In [6]:
cs.drop_duplicates(["term","URI"])

,term,URI,aat_bow,cs_rm,cs_wm,cs_rm_wm
0,batavias,None,None,NaN,NaN,NaN
1,batavia,300012925,"[batavia, jakarta, referring, formerly, resin,...",0.539955,0.727799,0.727617
5,southern rhodesia,None,None,NaN,NaN,NaN
6,madras,300265171,"[company, folding, decoration, mainly, ten, la...",0.727107,0.712293,0.790667
7,madras,300265173,"[japanese, company, decoration, large, oil, wa...",0.704346,0.760635,0.800528
...,...,...,...,...,...,...
7767,tribe,300438502,"[mountain, moved, style, recognized, virginia,...",0.822619,0.728841,0.821555
7768,tribe,300391522,"[volscian, volscan, culture, first, south, vol...",0.822421,0.743526,0.821018
7769,tribe,300438503,"[waccamassus, speaking, moved, style, area, re...",0.852398,0.750603,0.850639
7770,tribe,300435659,"[culture, state, north, native, tulalip, india...",0.823820,0.715182,0.818712
7771,tribe,300419345,"[entity, administrative, tribal, enjoy, status...",0.851989,0.781778,0.854129